/*body {
    background-color: #fabd5d;
    background-image: url("/images/MainScreen/PaperBackground.jpg");
    background-size: cover;
}

img {
    filter: grayscale(80%);
    opacity: 40%;
  }

h1 {
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    font-size: 0.7vw;
    text-align: center;
}

p {
    font-size: 0.3vw;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}*/